<%= turbo_frame_tag "avatar_preview", src: preview_avatars_path, loading: :lazy do %>
  <div class="avatar-preview">
    <%= image_tag "placeholder.png", alt: "Loading...", width: 256, height: 256, class: "avatar-preview__placeholder" %>
  </div>
<% end %>
