<h1>Edit Avatar</h1>

<p>Update your avatar's details and save the changes.</p>

<%= render "avatar_image" %>

<%= render "form", form_object: @avatar_form, form_url: avatar_path, form_method: :patch, submit_label: "Save Avatar" %>

<p style="margin-top: 1rem;">
  <%= link_to "Back to generator", new_avatar_path %>
</p>

<%= render "submission_summary", avatar: @current_avatar %>
