<div class="avatar-form-page">
  <div class="avatar-form-page__header">
    <%= link_to "â† Back to all avatars", avatars_path, class: "avatar-show__back-link" %>
  </div>

  <h1>Spellbooks Avatar Generator</h1>

  <%= render "avatar_image" %>

  <%= render "form", form_object: @avatar_form, form_url: avatars_path, form_method: :post, submit_label: "Generate" %>

  <%= render "submission_summary", avatar: @current_avatar %>
</div>
