<h1>Spellbooks Avatar Generator</h1>

<p><%= image_tag "avatar-placeholder.svg", alt: "Avatar preview", width: 256, height: 256 %></p>

<p><%= link_to "Edit an existing avatar", edit_avatar_path %></p>

<%= render "form", form_url: avatars_path, form_method: :post, submit_label: "Generate", avatar: @form_avatar %>

<%= render "submission_summary", avatar: @submitted_avatar %>
